*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
img{
    max-width: 100%;
}
.btn{
    width: 147px;
    height: 56px;
    font-size: 18px;
    font-weight: bold;
    background-color: #FD6E0A;
    color: #fff;
    border-radius: 20px;
    border: 0;
    padding: 18px 35px;
}
.contact{
    width: 180px;
    height: 62px;
    font-size: 19px;
    font-weight: bold;
    background-color: transparent;
    color: #FD6E0A;
    margin-left: 19px;
    border-radius: 9px;
    border: 1px solid #FD6E0A;
}
.btnd{
    width: 191px;
    height: 64px;
    font-size: 17px;
    font-weight: bold;
    background-color: #FD6E0A;
    color: #fff;
    border-radius: 24px;
    border: 0;
    margin-top: 15px;
}
.orang{
    color: #FD6E0A ;
}
.top{
    
    background-color: #FFF8F3;
}
.head{
    background: url(../img/developer.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    margin-left: 20px;
}
.navber{
    display: flex;
    justify-content: space-between;
    margin: 0 200px 50px 200px;
}
.navber h2{
    font-weight: 800;
    font-size: 45px;
}
.navber ul{
    display: flex;
    align-items: center;
}
.navber ul li{
    list-style: none;
    margin:29px 19px;
}
.banner-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(../img/header_bg.png) ;
    background-repeat: no-repeat;
    background-position: bottom right ;
    
}
.text-part{
    margin-left: 250px;
    width: 45%;
}
.hi{
    font-size: 34px;
    font-weight: 600;
}
.name{
    font-size: 54px;
    font-weight: 800;
}
.discription{
    font-size: 15px;
    color: #757575;
    margin: 10px 0;
}
.img{
    width: 53%;
    margin-right: 48px;
}
.main{
    max-width: 60%;
    margin: 0 auto;
}
.about{
    background: #FFF8F3;
    margin: 144px 0;
    padding: 104px 124px;
}
.abm{
    font-weight: 800;
    font-size: 30px; 
    margin-bottom: 22px;
    text-align: center;
}
.iama{
    color: #757575;
    font-size: 16px;
    margin-bottom: 29px;
    text-align: center;
}
.more{
    display: flex;
    justify-content: space-around;

}
.halka{
    color: #757575;
    text-align: center;
}
.bold{
    font-weight: 600;
    text-align: center;
    color: #474747;
}
.ido{
    max-width: 90%;
    margin: 0 auto;
}
.text{
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    color: #181818;
}
.some{
    text-align: center;
    font-size: 15px;
    margin-bottom: 40px;
    color: #757575;
}
.skill-box{
    width: 80%;
    margin: 60px auto;
}
.skill{
    padding: 35px;
    box-shadow: 0px 6px 50px rgba( 0 , 0 , 0 , 0.06 );
    border-radius: 5px;
    background: #ffffff;
}
.skill-about{
    display: flex;
    gap: 30px;
    

}
.skill-name{
    font-weight: 800;
    font-size: 17px;
    margin: 20px 0;
}
.skill-description{
    font-size: 14px;
    color: #757575;
}
.resume-title{
    text-align: center;
    margin-top: 150px;
    font-weight: 700;
    font-size: 28px;
}
.resume-item-all{
    display: flex;
    gap: 25px;
    margin-top: 120px;
}

.item-name{
    margin-bottom: 40px;
    color: #474747;
    font-weight: 800;
    font-size: 27px;
}
.item-title{
    margin-bottom: -2px;
    color: #474747;
    font-weight: 800;
    font-size: 23px;
}
.item-sub-title{
    margin-bottom: 5px;
    color: #757575;
    font-weight: 600;
    font-size: 16px;
}
.item-description{
    margin-bottom: 20px;
    color: #757575;
    font-size: 13px;
}
hr{
    margin: 20px 0;
}
.art{
    font-size: 18px;
    width: 215px;
    border-radius: 6px;
}
.button{
    width: 20%;
    margin: 60px auto 30px;
}
footer{
    background-color: #FFF8F3;
    /* height: 400px; */
}
.footer-part{
    display: flex;
    gap: 10px;
    width: 80%;
    margin: 0 auto;
    
}
.footer-social{
    margin-top: 100px;
    margin-left: 74px;
}
.footer-items{
    margin-top: 100px;
    margin-left: 41px;
    margin-right: -24px;
    
}

input , textarea {
    margin-bottom: 20px;
    width: 100%;
    border: none;
    padding: 13px;
}
.footer-title{
    margin-bottom: 20px;
}
input{
    height: 28px ;
}
.img-all{
    display: flex;
}
.footer-description{
    margin-bottom: 15px;
    color: #474747;
    font-size: 14px;
}
.img-parts{
    margin-right: 10px;
}
.at{
    border-radius: 7px;
}
